*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .todo{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(232, 11, 11);
}
.todo-form{
    padding-top: 10px;
}
.todo-list{
    padding: 10px;
}
.todo-form form{
    margin: 20px;
}
.text{
    padding: 10px;
    width: 25%;
    margin: 10px;
}
.button{
    padding: 10px 10px;
    color: rgb(39, 224, 35);
    background-color: blue;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
    text-decoration: none;
}
.todo-list > h3{
    margin-top: 20px;
    color: red;
}
.todo-list > ul{
    list-style: none;
    margin-top: 20px;
}